/* AllEpisodes.module.css */

/* Styling for the first section (cover image and description) */
.coverSection {
    text-align: center;
    margin-bottom: 20px;
}

.backimage {
    position: absolute;
}

.frontimage {
    position: relative;
}

.backimage img {
    width: 100vw;
    height: 300px;
    object-fit: cover;
    filter: blur(5px);
}

.coverImage {
  display: none;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.coverDescription {
    font-size: 1.2em;
    margin-top: 10px;
}

/* Styling for the episodes list */
.episodesList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
}

.episodeCard {
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    text-align: start;
    color: #fff;
}

.episodeTitle {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.episodeDescription {
    font-size: 1em;
    margin-bottom: 10px;
}

.videoPlayer {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.ep_length {
    margin-top: 10px;
    font-size: 0.8em;
    color: #999;
}

.more_info {
    margin-top: 10px;
    font-size: 0.8em;
    color: #fefcfc;
}