:root {
    --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Font family */
    --text-color: #fff; /* Text color */
    --highlight-color: #FCA311; /* Highlight color for borders */
    --item-width: 10rem; /* Width for cards */
    --card-height: 250px; /* Height for cards */
    --scrollbar-display: none; /* Scrollbar visibility */
    --reflection-opacity: 0.5; /* Opacity for reflection */
    --reflection-bg: black; /* Background color for reflection */
    --image-border-radius: 1rem; /* Border radius for images */
}

/* Trend Text */
.trand_text {
    margin: 1rem;
    font-family: var(--font-family);
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--text-color);
    border-bottom: 2px solid var(--highlight-color);
    padding-bottom: 10px;
}

/* Cards Container */
.cards {
    list-style: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    width: 100%;
    height: 300px;
}

.cards::-webkit-scrollbar {
    display: var(--scrollbar-display);
}

.card:first-of-type {
    margin-left: calc(50% - (var(--item-width) / 2));
}

.card:last-of-type {
    margin-right: calc(50% - (var(--item-width) / 2));
}

.card {
    view-timeline-name: --item-visible;
    view-timeline-axis: inline;
    animation: linear adjust-z-index both;
    animation-timeline: --item-visible;
    transform: translate3d(0, 0, 0);
    flex: 0 0 auto;
    perspective: 1000px;
    position: relative;
    z-index: 1;
    will-change: z-index;
    display: block;
    scroll-snap-align: center;
    text-decoration: none;
}

.card img:hover {
    transform: scale(1.1);
}

/* Card Image */
.card > .image {
    position: relative;
    display: block;
    animation: linear rotate both;
    animation-timeline: --item-visible;
    will-change: transform;
    width: var(--item-width);
    aspect-ratio: 250 / 350;
    transform-style: preserve-3d;
    transform: translate3d(-50%, 0, 0) rotate3d(0, 1, 0, -45deg) scale(0.5);
    backface-visibility: hidden;
}

.image > img {
    display: block;
    border-radius: var(--image-border-radius);
    width: 100%;
    height: var(--card-height);
    object-fit: cover;
}

.img {
    width: 100%;
    height: var(--card-height);
}

/* Image Reflection */
.image .reflection {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(var(--reflection-bg) 60%, rgba(0, 0, 0, 0.5)), var(--image);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: var(--image-border-radius);
    transform: scaleY(-1) translateY(-0.5em);
    opacity: var(--reflection-opacity);
}

/* Keyframes */
@keyframes adjust-z-index {
    0% {
        z-index: 1;
    }
    50% {
        z-index: 100;
    }
    100% {
        z-index: 1;
    }
}

@keyframes rotate {
    0% {
        transform: translate3d(-50%, 0, 0) rotate3d(0, 1, 0, -45deg) scale(0.5);
        opacity: 0.25;
    }
    35% {
        transform: translate3d(0, 0, 0) rotate3d(0, 1, 0, -40deg) scale(0.75);
    }
    50% {
        transform: translate3d(0, 0, 1em) rotate3d(0, 1, 0, 0) scale(1);
        opacity: 1;
    }
    65% {
        transform: translate3d(0, 0, 0) rotate3d(0, 1, 0, 40deg) scale(0.75);
    }
    100% {
        transform: translate3d(50%, 0, 0) rotate3d(0, 1, 0, 45deg) scale(0.5);
        opacity: 0.25;
    }
}