.form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    /* background-color: #f9f9f9; */
}

.inputContainer {
    margin-bottom: 15px;
}

.label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input,
.textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.textarea {
    min-height: 80px;
}

.imagePreview {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}

.video {
    margin-top: 10px;
}

.button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.status {
    margin-top: 10px;
    color: green;
}